html, body {
  padding : 0;
  margin  : 0;
}
body>*>header {
  z-index: 1020;
  position: sticky;
  inset-block-start: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6)>code {
  font-size: inherit;
}

* {
  box-sizing: border-box;
}
