a {
    color: inherit;
    text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) code {
    font-size: inherit !important;
}

.siteNavbar {
    &[class~='lazy'] {
        box-sizing: border-box;
        min-block-size: 60px !important;
        padding-block: 0px !important;
    }
}